In [1]:
import numpy as np
import pandas as pd

qust = pd.read_csv('Questionnaire.csv')
qust.head()    #檢視前5行

,No.,A1,A2,A3,A4,A5,B1,B2,B3,B4,...,C2,C3,C4,D1,D2,D3,D4,E1,E2,E3
0,1,1,1,2,2,1,2,2,1,2,...,2,1,3,2,1,3,2,2,2,1
1,2,1,1,2,2,1,2,2,1,2,...,2,3,1,2,1,3,2,2,2,1
2,3,1,2,2,2,1,2,2,1,2,...,2,3,1,2,1,3,2,2,2,1
3,4,1,2,2,2,1,2,2,1,2,...,2,4,3,2,1,3,2,2,2,1
4,5,1,1,2,2,1,2,2,1,2,...,2,1,1,2,1,3,2,2,2,1

In [2]:
result = qust['D3'].describe()
pd.DataFrame(result )

              D3
count  20.000000
mean    2.200000
std     1.105013
min     1.000000
25%     1.000000
50%     2.500000
75%     3.000000
max     4.000000